@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Roboto Slab', serif;
}

.App-header {
    
}

.App-title {
    background-color: #73b99f;
    font-family: inherit;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing:	0.1px;
    color: #fff;
    z-index: 2;
    padding: 30px 15px;
}

#vanta {
    width: 100vw;
    height: 100vh;
    z-index: 0;
}